.main{
    margin-top: 30px;
}
.images img{
    width: 100%;
}
.soluong input{
    padding: 10px;
    width: 60px;
    height: 35px;
    margin-top: -10px;
}
input[tyle="submmit"]{
    padding: 10px;
    width: 100px;
    height: 35px;
background: rgb(239, 209, 209);
}
.main button{
    width: 250px;
    height: 40px;
    background-color: rgb(241, 46, 46);
    color: rgb(255, 255, 255);
}



.noidung1 b,h4{
    color: rgb(228, 20, 20);
}
.mota{
    margin-top: 20px;
}
.mota p{
    font-size: 14px;
    color: rgb(90, 90, 90);
}
.shiphang{
    text-align: center;
}
.shiphang p{
    font-size: 14px;
    text-align: center;
}
.shiphang i{
   font-size: 30px;
   color: rgb(43, 43, 44);
}
.sp-moi{
    margin-bottom: 50px;
}
.sp-moi .chitiet img{
    width:600px;
}
.chitiet .canter    {
    text-align: center;
}

.sp-moi .responsive .gallery img{
    width: 100%;
    margin-right: 1px;
}