body{
    background: #393939;
}
.top-content b{
    margin-top: 15px;
    
    
}
.top-content a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.top-content p{
    text-decoration: none;
    color: rgb(242, 40, 40);
}
.main-content{
    margin-top: 20px;  
    
}
.main-content h5{
   margin-bottom: 20px;  
    
}
.main-content p{
    text-align: justify;
    font-size: 15px;
}
