div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 170px;
    height: auto;
}

.responsive .gallery .text b {
    text-align: right;
    color: rgb(254, 0, 0);
    position: absolute;
    top: 10px;
    background-color: #fdf21e;

}

.topright {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 40px;
    padding: 1px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 196, 0);
    font-weight: bold;
    font-size: 12px;
}

div.desc {
    padding: 7px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    /* padding: 0 6px; */
    float: left;
    width: 180px;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

